*{
    margin:0px;
    padding:0px;
}

.expense-form-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:0px;
}

.expense-form{
    width:50%;
    padding:0px;
    background-color: gray;
}

select{
    width:20%;
    align-self:center;
}
input{
    width:70%;
}