.main-container{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.login-container{
    display:flex;
    width:30%;
    flex-direction: column;
    justify-content:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:2px solid rgb(159, 152, 152);
    padding: 0px 10px;
    margin-top:50px;
    border-radius:10px;
    padding:10px 0px;
}
h3{
    align-self: center;
    font-size:x-large;
}
.login-input{
    padding:8px;
    margin: 8px 4px;
    border:1px solid gray;
    width:60%; 
    align-self: center;
    border-radius:8px;
    background-color: black;
    color:white;
}

.login{
    width:60%;
    background-color: rgb(22, 186, 226);
    color:white;
    padding:8px;
    cursor:pointer;
    align-self: center;
    border-radius: 30px;
    margin:8px 4px;
    border:none;
}

p{
    color:rgb(36, 36, 152);
    text-align: center;
}

.sign-up{
    width:30%;
    padding:10px 0px;
    background-color: rgb(161, 207, 161);
    margin-top:8px;
    text-align: center;
    border:1px solid gray;
    border-radius: 10px;
}